*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quattrocento', serif;
    
}





nav{
    display: flex;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.96);
    padding: 1,5rem;
    flex-wrap: wrap;
    position:sticky;
    top: 0;
    z-index: 1;
}

nav a{
    padding: 1rem;
    color: rgba(0, 0, 0, 0.621);
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;



}

nav a:hover{
    background-color: rgb(255, 255, 255);

}

header{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: rgba(0, 0, 0, 0.604);
    padding: 10px;  
      
}

main{
    margin: 2rem;
    background-color: antiquewhite;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    border-radius: 5px;  
}



figure{
    margin: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
    
    

}

figcaption{
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}

figure:hover{
    transform: scale(1.07);
    transition: all 1s;
}

img{
    width: 100%;
    height: auto;
    border-radius: 50px;
}

footer ul{
    background-color:rgb(255, 255, 255);
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 20px;
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 5px;
}

footer ul li:hover{
    text-decoration: underline;
    font: 1em sans-serif;b
}

@media screen and (max-width: 700px) {
    .main {   
      flex-direction: column;
     
    }
}

