*{
    box-sizing: border-box;
    font-family: 'Quattrocento', serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    
}



nav{
    display: flex;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.96);
    padding: 1,5rem;
    flex-wrap: wrap;
    position:sticky;
    top: 0;
    z-index: 1;

   
    

}

nav a{
    padding: 1rem;
    color: rgba(0, 0, 0, 0.621);
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
   ;



}

nav  a:hover{
    background-color: rgb(255, 255, 255);

}

.nav2{
    display: flex;
    justify-content: center;
    background-color: rgba(243, 194, 129);
    padding: 1,5rem;
    flex-wrap: wrap;
    position:sticky;
    top:70px
   
    
}

.nav2 a{
    padding: 1.5rem;
    color: rgba(0, 0, 0, 0.621);
    font-size: 1.5rem;
    margin: 10px;
    text-decoration: none;
    

}

.nav2 a:hover{

    background-color: rgb(255, 255, 255);

}


header{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: rgba(0, 0, 0, 0.604);
    padding: 10px;
    
    

    
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    background-color:antiquewhite ;
    padding: 50px;
    justify-content: center;
    font-size: 30px;
    
    
    
    
    
    
    
}

.content h1{
    
    font-size: 100px;
    

}



.home-article{
    padding: 1rem;
    text-align: center;
}

.contents{
    padding: 1rem;
    text-align: center;
    width: 100%;
   
}

.parallax{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("https://cdn.pixabay.com/photo/2017/04/07/11/07/basil-2210736__340.jpg");
}












footer ul{
    background-color:rgb(255, 255, 255);
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 20px;
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 5px;
}

footer ul li:hover{
    text-decoration: underline;
    font: 1em sans-serif;
}


@media screen and (max-width: 700px) {
    .content {   
      flex-direction: column;
     
    }

    
    main{
      background-color:blanchedalmond;
      border: solid 3px rgb(255, 255, 255);
      
      
    }

    .nav2 a{
    padding: 0,5rem;
    color: rgba(0, 0, 0, 0.621);
    font-size: 1.2rem;
    margin: 3px;
    text-decoration: none;
       
    }
  }
